{% include 'navbar.html' %}

{% load static %}
<div class="banner banner-static">
    <div class="banner-cpn">
        <div class="container">
            <div class="content row">

                <div class="banner-text">
                    <h1 class="page-title">About FinanceCorp</h1>
                    <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat do eiusmod tempor
                        incidid.</p>
                </div>
                <div class="page-breadcrumb">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active"><span>About Us</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="banner-bg imagebg">
        <img src="{% static 'image/banner-inside-a.jpg' %}" alt="" />
    </div>
</div>

<!-- Content -->
<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row row-vm">

            <div class="col-sm-7 npl pad-r res-m-bttm">
                <h2 class="heading-lg">About Us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore dol aliqua.</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor nostrud exercit.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
            </div>
            <div class="col-sm-5 npr">
                <img class="img-shadow" alt="" src="{% static 'image/photo-sm-a.jpg' %}">
            </div>

        </div>
    </div>
</div>
<!-- End content -->

<!-- Why Choose -->
<div class="section section-contents section-pad light has-bg fixed-bg"
    style="background-image: url(/static/image/plx-dark.jpg);">
    <div class="container">
        <div class="content row">

            <h2 class="heading-lg">Why Choose Us</h2>

            <div class="clear"></div>
            <div class="feature-intro space-top">

                <div class="row">
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-briefcase" aria-hidden="true"></em>
                        </div>
                        <h4>Experience</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-black-tie" aria-hidden="true"></em>
                        </div>
                        <h4>Professional</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-cogs" aria-hidden="true"></em>
                        </div>
                        <h4>Safety</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="icon-box style-s1">
                            <em class="fa fa-building" aria-hidden="true"></em>
                        </div>
                        <h4>Sustainability</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-diamond" aria-hidden="true"></em>
                        </div>
                        <h4>Integrity</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-check-square" aria-hidden="true"></em>
                        </div>
                        <h4>Reliable</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s1">
                            <em class="fa fa-bolt" aria-hidden="true"></em>
                        </div>
                        <h4>Great Managment</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="icon-box style-s1">
                            <em class="fa fa-lightbulb-o" aria-hidden="true"></em>
                        </div>
                        <h4>Innovation</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv
                            eniam laud accusan tiud.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- End Why Choose -->

<!-- Testimonials -->
<div class="section section-quotes section-pad bg-light">
    <div class="container">
        <div class="content row">

            <div class="col-md-offset-2 col-md-8 center">
                <h2 class="heading-lg">Testimonials</h2>
            </div>
            <div class="gaps"></div>
            <div class="testimonials">
                <div id="testimonial" class="quotes-slider quotes-boxed col-md-8 col-md-offset-2">
                    <div class="owl-carousel loop has-carousel" data-items="1" data-loop="true" data-dots="true"
                        data-auto="true">
                        <div class="item">
                            <!-- Each Quotes -->
                            <div class="quotes">
                                <div class="quotes-text center">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.
                                    </p>
                                </div>
                                <div class="profile">
                                    <img src="{% static 'image/profile-img.jpg' %}" alt="">
                                    <h5>Maria jaqline</h5>
                                    <h6>CEO, Company Name</h6>
                                </div>
                            </div>
                            <!-- End Quotes -->
                        </div>
                        <!-- End Slide -->
                        <!-- Each Slide -->
                        <div class="item">
                            <!-- Each Quotes -->
                            <div class="quotes">
                                <div class="quotes-text center">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam.</p>
                                </div>
                                <div class="profile">
                                    <img src="{% static 'image/profile-img.jpg' %}" alt="">
                                    <h5>Maria jaqline</h5>
                                    <h6>CEO, Company Name</h6>
                                </div>
                            </div>
                            <!-- End Quotes -->
                        </div>
                    </div>
                    <!-- End Slide -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Section -->
<!-- Teams -->
<div class="section section-teams section-pad">
    <div class="container">
        <div class="content row">

            <div class="row">
                <div class="col-md-10 col-md-offset-1 center">
                    <h2 class="heading-lg">Our Executive Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur to adipiscing elit labore et dolore. Eiusmod tempor
                        incididunt ut labore et dolore magna aliqua enim ad minim veniam. Duis aute irure dolor nostrud
                        ullamco.</p>
                </div>
            </div>
            <div class="team-member-row row">
                <div class="col-md-3 col-sm-6 col-xs-6 even">
                    <!-- Team Profile -->
                    <div class="team-member">
                        <div class="team-photo">
                            <img alt="" src="{% static 'image/team-a.jpg' %}">
                        </div>
                        <div class="team-info">
                            <h4 class="name">Robert Miller</h4>
                            <p class="sub-title">Managing Director &amp; CEO</p>
                        </div>
                    </div>
                    <!-- Team #end -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 odd">
                    <!-- Team Profile -->
                    <div class="team-member">
                        <div class="team-photo">
                            <img alt="" src="{% static 'image/team-b.jpg' %}">
                        </div>
                        <div class="team-info">
                            <h4 class="name">Stephen Everett</h4>
                            <p class="sub-title">Chief Operating Officer</p>
                        </div>
                    </div>
                    <!-- Team #end -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 even">
                    <!-- Team Profile -->
                    <div class="team-member">
                        <div class="team-photo">
                            <img alt="" src="{% static 'image/team-c.jpg' %}">
                        </div>
                        <div class="team-info">
                            <h4 class="name">Philip Hennessy</h4>
                            <p class="sub-title">Non-Executive Director</p>
                        </div>
                    </div>
                    <!-- Team #end -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 odd">
                    <!-- Team Profile -->
                    <div class="team-member">
                        <div class="team-photo">
                            <img alt="" src="{% static 'image/team-d.jpg' %}">
                        </div>
                        <div class="team-info">
                            <h4 class="name">Robert Miller</h4>
                            <p class="sub-title">Head of Human Resources</p>
                        </div>
                    </div>
                    <!-- Team #end -->
                </div>
            </div><!-- TeamRow #end -->
        </div>
    </div>
</div>
<!-- End Section -->
<!-- Client logo -->
<div class="section section-logos section-pad-sm bg-light bdr-top">
    <div class="container">
        <div class="content row">

            <div class="owl-carousel loop logo-carousel style-v2">
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo1-w.png' %}"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo2-w.png' %}"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo3-w.png' %}"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo4-w.png' %}"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo5-w.png' %}"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'image/cl-logo6-w.png' %}"></div>
            </div>

        </div>
    </div>
</div>
<!-- End Section -->

<!-- Call Action -->
<div class="call-action cta-small has-bg bg-primary" style="background-image: url('/static/image/plx-cta.jpg');">
    <div class="cta-block">
        <div class="container">
            <div class="content row">

                <div class="cta-sameline">
                    <h2>Have any Question?</h2>
                    <p>We're here to help. Send us an email or call us at +012-345-6789. Please feel free to contact our
                        expert.</p>
                    <a class="btn btn-alt" href="#">Contact Us</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Section -->



{% include 'footer.html' %}