{% include 'navbar.html' %}
		<!-- #end Navbar -->
		<!-- Banner/Static -->
		<div class="banner banner-static">
			<div class="banner-cpn">
				<div class="container">
					<div class="content row">
					
						<div class="banner-text">
							<h1 class="page-title">Manangement Team</h1>
							<p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat do eiusmod tempor incidid.</p>						
						</div>
						<div class="page-breadcrumb">
							<ul class="breadcrumb">
								<li><a href="index-2.html">Home</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li class="active"><span>Our Team</span></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<div class="banner-bg imagebg">
				<img src="/static/image/banner-inside-a.jpg" alt="" />
			</div>
		</div>
	<!-- End Header -->
	<!-- Content Section -->
	<div class="section section-contents bg-light section-pad">
		<div class="container">
			<div class="content row">
			
				<div class="wide-md center">
					<h2>Board of Directors</h2>
					<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris .</p>
				</div>
				<div class="gaps size-2x"></div>
				<div class="team-member-row row">
					<div class="col-md-6 res-m-bttm-lg">
						<div class="team-profile">
						<div class="team-member row">
							<div class="team-photo col-md-4 col-sm-4 col-xs-12">
								<img alt="" src="/static/image/team-a.jpg">
							</div>
							<div class="team-info col-md-8 col-sm-8 col-xs-12">
								<h3 class="name">Andrew Cole</h3>
								<p class="sub-title">- Managing Director and CEO</p>
								<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt. Veniam quis nostrud exercitation ullamco labor.</p>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-6">
						<div class="team-profile">
							<div class="team-member row">
								<div class="team-photo col-md-4 col-sm-4 col-xs-12">
									<img alt="" src="/static/image/team-b.jpg">
								</div>
								<div class="team-info col-md-8 col-sm-8 col-xs-12">
									<h3 class="name">Nicholas Mark</h3>
									<p class="sub-title">- Chief Financial Officer</p>
									<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore dolore magna aliqua nisiut.</p>

								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>		
	</div>
	<!-- End Section -->
	<!-- Content Section -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">
			
				<div class="wide-md center">
					<h2>Executive Team</h2>
					<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris .</p>
				</div>
				<div class="team-member-row row">
					<div class="col-md-3 col-sm-6 col-xs-6 even">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="/static/image/team-c.jpg">
							</div>
							<div class="team-info">
								<h4 class="name">Robert Miller</h4>
								<p class="sub-title">Chief Accountant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 odd">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="/static/image/team-d.jpg">
							</div>
							<div class="team-info">
								<h4 class="name">Stephen Everett</h4>
								<p class="sub-title">Chief Operating Officer</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 even">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="/static/image/team-e.jpg">
							</div>
							<div class="team-info">
								<h4 class="name">Philip Hennessy</h4>
								<p class="sub-title">Non-Executive Director</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 odd">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="/static/image/team-f.jpg">
							</div>
							<div class="team-info">
								<h4 class="name">Nicholas Miller</h4>
								<p class="sub-title">Head of Human Resources</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
				</div><!-- TeamRow #end -->
				
			</div>
		</div>		
	</div>
	<!-- End Section -->	
	<!-- Client logo -->
	<div class="section section-logos section-pad-sm bg-light bdr-top">
		<div class="container">
			<div class="content row">

				<div class="owl-carousel loop logo-carousel style-v2">
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo1-w.png"></div>
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo2-w.png"></div>
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo3-w.png"></div>
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo4-w.png"></div>
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo5-w.png"></div>
					<div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo6-w.png"></div>
				</div>

			</div>
		</div>	
	</div>
	<!-- End Section -->

	<!-- Call Action -->
	<div class="call-action cta-small has-bg bg-primary" style="background-image: url('/static/image/plx-cta.jpg');">
		<div class="cta-block">
			<div class="container">
				<div class="content row">

					<div class="cta-sameline">
						<h2>Have any Question?</h2>
						<p>We're here to help. Send us an email or call us at +012-345-6789. Please feel free to contact our expert.</p>
						<a class="btn btn-alt" href="#">Contact Us</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->
{% include 'footer.html' %}
