{% include 'navbar.html' %}
<div class="banner banner-static">
    <div class="banner-cpn">
        <div class="container">
            <div class="content row">

                <div class="banner-text">
                    <h1 class="page-title">What Client's Says</h1>
                    <p>To ventore veritatis et quasi architecto beatae vitae dicta.</p>
                </div>
                <div class="page-breadcrumb">
                    <ul class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li class="active"><span>Testimonial</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="banner-bg imagebg">
        <img src="/static/image/banner-inside-a.jpg" alt="" />
    </div>
</div>
<!-- Content -->
<div class="section section-contents section-pad">
    <div class="container">
        <div class="row">

            <div class="wide-md">
                <div class="testimonials testimonials-list">
                    <div class="quotes">
                        <div class="quotes-text">
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                        </div>
                        <div class="profile">
                            <h5>John Doe</h5>
                            <h6>CEO, Company Name</h6>
                        </div>
                    </div>
                    <div class="quotes">
                        <div class="quotes-text">
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                        </div>
                        <div class="profile">
                            <h5>Michel Walton</h5>
                            <h6>CEO, Company Name</h6>
                        </div>
                    </div>
                    <div class="quotes">
                        <div class="quotes-text">
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                            <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</i></p>
                        </div>
                        <div class="profile">
                            <h5>Rojer Murr</h5>
                            <h6>CEO, Company Name</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Content -->
<!-- Client logo -->
<div class="section section-logos section-pad-sm bg-light bdr-top">
    <div class="container">
        <div class="content row">

            <div class="owl-carousel loop logo-carousel style-v2">
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo1-w.png"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo2-w.png"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo3-w.png"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo4-w.png"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo5-w.png"></div>
                <div class="logo-item"><img alt="" width="190" height="82" src="/static/image/cl-logo6-w.png"></div>
            </div>

        </div>
    </div>
</div>
<!-- End Section -->

<!-- Call Action -->
<div class="call-action cta-small has-bg bg-primary" style="background-image: url('/static/image/plx-cta.jpg');">
    <div class="cta-block">
        <div class="container">
            <div class="content row">

                <div class="cta-sameline">
                    <h2>Have any Question?</h2>
                    <p>We're here to help. Send us an email or call us at +012-345-6789. Please feel free to contact our
                        expert.</p>
                    <a class="btn btn-alt" href="#">Contact Us</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Section -->
{% include 'footer.html' %}