<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<head>
	<title>Finance Corp - Financial Services and Business Consulting Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.bundle.css' %}">
	<link id="style-css" rel="stylesheet" type="text/css" href="{% static 'css/stylec64e.css' %}">
	
</head>

<body class="site-body style-v1">
	<!-- Header -->
	<header class="site-header header-s1 is-sticky">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="top-aside top-left">
						<ul class="top-nav">
							<li><a href="#">On Press</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Our Offices</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="top-aside top-right clearfix">
						<ul class="top-contact clearfix">
							<li class="t-email t-email1">
								<em class="fa fa-envelope-o" aria-hidden="true"></em>
								<span><a href="#">contact@youremail.com</a></span>
							</li>
							<li class="t-phone t-phone1">
								<em class="fa fa-phone" aria-hidden="true"></em>
								<span>+123-456-789</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- #end Topbar -->
		<!-- Navbar -->
		<div class="navbar navbar-primary">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="/">
					<img class="logo logo-dark"  src="{% static 'image/ca_logo.png' %}" >
				</a>
				<!-- #end Logo -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
						aria-expanded="false">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- MainNav -->
				<nav class="navbar-collapse collapse" id="mainnav">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a>
						</li>
						<li class="dropdown"><a href="/about_us">About us <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/faqs">FAQ's</a></li>
								<li><a href="/teams">Teams</a></li>
								<li><a href="/gallery">Gallery <span class="label label-info">New</span></a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="/service" class="dropdown-toggle">Services 
								<!-- <b class="caret"></b> -->
							</a>
							<!-- <ul class="dropdown-menu">
								<li><a href="service.html">Services List</a></li>
								<li><a href="service-alter.html">Services List - Alter</a></li>
								<li><a href="service-single.html">Services Single</a></li>
								<li><a href="service-single-alter.html">Services Single - Alter</a></li>
							</ul> -->
						</li>
						<li><a href="/testimonial">Testimonial</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
						<li class="quote-btn"><button type="button" class="btn btn-demo" data-toggle="modal" data-target="#contactModal">Inquiry</button></li>
						
					</ul>
				</nav>
				<!-- #end MainNav -->
			</div>
		</div>
		<!-- #end Navbar -->
		<!-- Banner/Slider -->
		
		<!-- #end Banner/Slider -->
	</header>
	<!-- End Header -->
